.health-display {
  margin: 20px 0;
}
.health-display p {
  font-size: 20px;
  margin: 5px 0;
  display: inline-block;
}
.player-health {
  border: 1px solid greenyellow;
  padding: 5px;
  margin-right: 5px;
}
.enemy-health {
  border: 1px solid greenyellow;
  padding: 5px;
  margin-left: 5px;
}
